<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand me-auto">Sistema de Control de Asistencia</a>
    <button
      *ngIf="isLogged"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <ng-container *ngIf="isLogged">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto text-center">
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                routerLinkActive="active"
                [routerLink]="['/data']"
                >Registros
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                [routerLink]="['/justific']"
                >Justificaciones</a
              >
            </li>
            <ng-container *ngIf="isAdmin">
              <li class="nav-item" *ngIf="isAdmin">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show"
                  [routerLink]="['/g-users']"
                  >Usuarios</a
                >
              </li>
            </ng-container>

            <li class="nav-item">
              <a
                class="nav-link"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show"
                [routerLink]="['/preferences']"
                >Preferencias del Sistema</a
              >
            </li>
          </ul>
          <form action="" class="text-center">
            <a class="nav-link text-white">{{ currentUser }}</a>
          </form>
          <form class="d-flex">
            <a
              class="form-control me-sm-1 text-center"
              (click)="onLogout()"
              [routerLink]="['/']"
              >Cerrar sesion</a
            >
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
